<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 d-lg-flex justify-content-between mb-5">
        <div class="col-lg-6">
          <a href="/" class="footer__logo d-flex align-items-center mb-3">
            <img src="img/logo.svg" alt="logo" />
            <p>до перемоги разом!</p>
          </a>
          <a class="footer__email" href="mailto:office@lazarhelp.in.ua"
            >office@lazarhelp.in.ua
          </a>
        </div>
        <div class="col-lg-6">
          <nav class="footer__nav d-flex my-4">
            <ul class="d-sm-flex">
              <li><a href="#">про нас</a></li>
              <li>
                <a href="#">
                  <img src="../img/Vector-light.svg" alt="logo" />
                  прoєкти</a
                >
              </li>
              <li>
                <a href="#">потреби</a>
              </li>
              <li><a href="#">допомогти</a></li>
            </ul>
          </nav>
          <div class="footer__contacts">
            <p class="grey">Пн-Нд 9:00–21:00</p>
            <p>
              Гаряча лінія:
              <a href="tel:+38 044 390 67 71">+38 044 390 67 71</a>
            </p>
            <p>
              WhatsApp, Telegram:
              <a href="tel:+380 (63) 897 37 33">+380 (63) 897 37 33</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-company d-flex justify-content-center text-center">
    © 2022, БО «Благодійний фонд «Лазар»
  </div>
</footer>
