<header class="header">
    <div class="container">
      <div class="row">
        <div class="col-5 d-flex align-items-center p-0">
          <div class="header__logo d-flex align-items-center">
            <a class="d-flex align-items-center" href="#">
              <img src="../img/Logo.svg" alt="logo" />
            </a>
            <span>до перемоги разом!</span>
          </div>
        </div>
        <div class="col-7 d-flex align-items-center justify-content-end">
          <nav class="header__nav d-flex">
            <ul class="d-none d-lg-flex">
              <li><a href="#">про нас</a></li>
              <li>
                <a href="#">
                  <img src="../img/Vector.svg" alt="logo" />
                  прoєкти</a
                >
              </li>
              <li>
                <a href="#">потреби</a>
              </li>
              <li><a href="#">допомогти</a></li>
            </ul>
          </nav>
          <div class="header__lang">
            <a href="#">
              <img src="../img/Vector.svg" alt="logo" />
              UA</a
            >
          </div>
          <div class="header__burger d-block d-lg-none">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-menu">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="mobile-menu__nav">
              <ul class="d-flex flex-column align-items-center justify-content-center">
                <li><a href="#">про нас</a></li>
                <li>
                  <a href="#">
                    <img src="../img/Vector.svg" alt="submenu" />
                    прoєкти</a
                  >
                </li>
                <li>
                  <a href="#">потреби</a>
                </li>
                <li><a href="#">допомогти</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>